html {
    overflow-y: scroll;
}

.App {
    text-align: center;
}

body {
    background-color: #191919;
    min-height: 100vh;
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: #ecdbba;
}

.body-content {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    color: #c84b31;
    text-decoration: none;
}
